.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
   
    height: 3vh;
 
}
input{
    height: 7vh;
    width:30vw;
    border-radius: 0.4em;
    font-family: 'Times New Roman', Times, serif;
   padding: 20px;
   box-sizing: border-box;
   background-color:white;
   color: black;
   font-size: 0.8em;

  
}